@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container-fluid
{
    position: relative;
    .myContainer
    {
       font-family: 'Open Sans',serif;
       text-align: center;
        
        .buttonContainer
        {
            display: inline-block;
        #newNoteButton
            {
                
                margin-top: 20px;
                margin-bottom: 10px;
                text-align: center;
                height: 50px;

            }
        }
        
        .tagContainer
        {
            .singleTag
            {
                display: inline-block;
                margin: 10px;
                
                border: 1px solid #E8E8E8;
                padding: 4px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .tagRelatedNotes
        {
            .myCard
            {
                display: inline-block;
                margin: 10px;
                
                border: 1px solid #E8E8E8;
                padding: 4px;
               
                
                
            }
        }
    }
    
    #home
    {
        left:0;
        display: inline-block;
    }
    #logout
    {
        
        display: inline-block;
        margin-left:1200px;
        hover{
        cursor: pointer;    
        }
        
    }
    
    #myModal
    {
        .modal-dialog
        {
            .modal-content
            {
                
               
                .modal-body
                {
                    #tag
                    {
                        margin-top: 15px;    
                            
                    }
                    #noteHeading
                    {
                        padding-top: 15px;
                    }
                    #note
                    {
                        margin-top: 15px;
                        height: 250px;
                        
                    }
                    
                    #saveButton
                    {
                        margin-top: 20px;
                        margin-bottom: 10px;
                        width: 100%;
                        height: 50px;
                     
                    }
                    
                }
            }
        }
    }
}